<div class="gray-background image-collection-head-warp" [ngClass]="{'no-filter-add': selectedFilters.length || modelIdsToAdd.length,'no-data': !modelList.length}">

  <!--Need to add slider to manage overflow of tags-->
  <div class="filter-tag gray-background" style="display: block" *ngIf="selectedFilters.length>0">
    <span class="arrow arrow-left">
      <img [src]="ImgPath + 'Icon_Basic_S_Left.svg'" alt="Icon_Basic_S_Left.svg" class="main-img" width="20" />
      <img [src]="ImgPath + 'Icon_Basic_S_Left_Blue.svg'" alt="Icon_Basic_S_Left_Blue.svg" class="hover-img" width="20" />
    </span>
    <ul class="list-inline no-margin tag-slider text-left carousel slide multi-item-carousel">
      <ng-container>
        <li *ngFor="let filt of selectedFilters; let i = index" class="item">
          <a>
            <span class="catg-icon">
              <!-- For category -->
              <img [src]="ImgPath + 'Categories_Filter.svg'" alt="Categories_Filter.svg" width="20" *ngIf="filt.type == 1" />
              <!-- For Camera Angle -->
              <img [src]="ImgPath + 'Icon_Modal_3D_gray.svg'" alt="Icon_Modal_3D_gray.svg" width="20" *ngIf="filt.type == 2" />
              <!-- For Resolution -->
              <img [src]="ImgPath + 'Resolution_Filter.svg'" alt="Resolution_Filter.svg" width="20" *ngIf="filt.type == 3" />
              <!-- For Mood Light -->
              <img [src]="ImgPath + 'Mood_Lighting_Filter.svg'" alt="Mood_Lighting_Filter.svg" width="20" *ngIf="filt.type == 4" />
              <!-- For Location -->
              <img [src]="ImgPath + 'Location_Filter.svg'" alt="Aerialview_Camera_Angles_Filter.svg" width="20" *ngIf="filt.type == 5" />
              <!-- For Pack -->
              <img [src]="ImgPath+ 'Images_Filter.svg'" alt="modelList.svg" width="20" *ngIf="filt.type==6" />
            </span>
            <span [innerHTML]="filt.name"></span>
            <span class="close-icon">
              <img [src]="ImgPath + 'Icon_Basic_S_Cancel.svg'" alt="Icon_Basic_S_Cancel.svg" class="main-img" width="10"
                (click)="removeFilterByClickingCross(filt)" />
              <img [src]="ImgPath + 'Icon_Basic_S_Cancel_Blue_Update.svg'" alt="Icon_Basic_S_Cancel_Blue_Update.svg"
                class="hover-img" width="10" (click)="removeFilterByClickingCross(filt)" />
            </span>
          </a>
        </li>
      </ng-container>
    </ul>
    <span class="arrow arrow-right">
      <img [src]="ImgPath + 'Icon_Basic_S_Right.svg'" alt="Icon_Basic_S_Right.svg" class="main-img" width="20" />
      <img [src]="ImgPath + 'Icon_Basic_S_Right_Blue.svg'" alt="Icon_Basic_S_Right_Blue.svg" class="hover-img" width="20" />
    </span>
    <span class="fliter-close-icon pull-right">
      <a href="javascript:;" (click)="clearAllFilter()">
        <img [src]="ImgPath + 'Icon_Basic_S_Cancel.svg'" alt="Icon_Basic_S_Cancel.svg" class="main-img" width="12" />
        <img [src]="ImgPath + 'Icon_Basic_S_Cancel_Blue_Update.svg'" alt="Icon_Basic_S_Cancel_Blue_Update.svg" class="hover-img"
          width="12" />
      </a>
    </span>
  </div>
  <!-- Need to add slider to manage overflow of tags -->

  <!-- collection Add Block -->
  <div class="image-collection-head" *ngIf="modelIdsToAdd.length">
    <div class="left-side">
      <span class="count">{{ modelIdsToAdd.length }}</span> selected
    </div>
    <div class="right-side">
      <div class="dropdown collection-dropdown">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-default account-filter-btn collection-btn dropdown-toggle"
          data-toggle="dropdown" id="dropdownMenu1" type="button">
          Add to Collection
        </button>
        <ul aria-labelledby="dropdownMenu1" class="dropdown-menu dropdown-reset toggle-dropdown">
          <li>
            <ul class="collection-overflow-scroll custom-scrollbar">
              <li *ngFor="let collection of collections; let i = index" (click)="addnameCol(collection.name, false, null)">
                <a href="javascript:;"><span class="collection-name">{{ collection.name }}</span>
                  &nbsp;<span class="count">({{ collection.image_count || 0 }})</span></a>
              </li>
            </ul>
          </li>
          <li class="divider" role="separator" *ngIf="collections.length"></li>
          <li class="new-collection-tag" data-target="#collection-add" data-toggle="modal" data-dismiss="modal">
            <a href="javascript:;" (click)="isAddError = false">
              <img [src]="ImgPath + 'Icon_NewCollection.svg'" alt="Icon_NewCollection.svg" class="icon-img" width="16" />
              <img [src]="ImgPath + 'Icon_NewCollection_Blue.svg'" alt="Icon_NewCollection_Blue.svg" class="hover-icon-img"
                width="16" />&nbsp;New Collection
            </a>
          </li>
        </ul>
      </div>
      <div class="clearfix"></div>

      <span class="close-btn" (click)="uncheckAllModels()">
        <img [src]="ImgPath + 'Icon_Basic_S_Cancel.svg'" alt="Icon_Basic_S_Cancel.svg" class="main-img" width="12" />
        <img [src]="ImgPath + 'Icon_Basic_S_Cancel_Blue_Update.svg'" alt="Icon_Basic_S_Cancel_Blue_Update.svg" class="hover-img"
          width="12" />
      </span>
    </div>
  </div>

  <!-- collection Add Block -->

  <!-- collection Add Block End -->
  <div class="clearfix"></div>
  <!-- collection Add Block End -->
</div>

<!-- <ng-container *ngIf="modelList.length > 0"> -->
<div class="container-fluid gray-background comman-padding-block images-wrapper-block">
  <div class="col-md-12 wrapper-side-padding" id="single-image-detail">
    <div class="pictureView viewchange picflex" *ngIf="isLoaded" [ngClass]="{ 'checkbox-selected': modelIdsToAdd.length > 0 }">
      <ng-container *ngFor="let img of modelList; let i = index">
        <div class="resultitem" [ngStyle]="{ width: img.thumb_width + 'px' }">
          <div class="box thumbnailurl" [ngClass]="{ selected: allToCollId[img.model_id] }" [attr.data-imgwidth]="img.width"
            [attr.data-imgheight]="img.height">
            <a href="javascript:void(0);" class="clickevent model-thumb-click" [attr.data-id]="img.model_id"
              [attr.data-index]="i" [ngClass]="{ 'disabled-view': modelIdsToAdd.length > 0 }">
              <div *ngIf="img.thumbnail && img.thumbnail_hover">
                <ng-container *ngIf="!modelIdsToAdd.length">
                  <img [src]="ServerImgPath + img.thumbnail" [attr.data-id]="img.model_id" [attr.data-index]="i" class="img_thumbnail"
                    [alt]="img.model_name" class="model-thumb-img" />
                  <img [src]="ServerImgPath + img.thumbnail_hover" [attr.data-id]="img.model_id" [attr.data-index]="i"
                    class="img_thumbnail" [alt]="img.model_name" class="model-thumb-hover-img" />
                </ng-container>
                <ng-container *ngIf="modelIdsToAdd.length">
                  <img [src]="ServerImgPath + img.thumbnail" [attr.data-id]="img.model_id" [attr.data-index]="i" class="img_thumbnail"
                    [alt]="img.model_name" class="model-thumb-img" (click)="updateModelForCollection(img.model_id)" />
                </ng-container>
              </div>
              <div *ngIf="!img.thumbnail || !img.thumbnail_hover">
                <img [src]="ServerImgPath + 'assets/uploads/images/No_Image_Available.png'" [attr.data-id]="img.model_id"
                  [attr.data-index]="i" class="img_thumbnail" [alt]="img.model_name" class="model-thumb-img" />
              </div>
              <!-- <div class="iconlinks">{{ img.thumb_width }} x {{ img.thumb_height }}</div> -->
            </a>
            <div class="new-tag" *ngIf="img.isNew == 1">
              <span class="tag-name">NEW!</span>
            </div>
            <div class="plusicon-link btn-group" *ngIf="isUserLoggedIn">
              <button aria-expanded="false" aria-haspopup="true" class="" data-toggle="dropdown" type="button" (click)="selectModel(img.model_id)"
                *ngIf="modelIdsToAdd.length == 0">
                <img class="fa-plus main-img" width="15" [src]="ImgPath + 'Icon_Plus_Light_Gray.svg'" alt="Icon_Plus_Light_Gray.svg"
                  (load)="thumnailLoaded(i)" />
                <img class="fa-plus hover-img" width="15" [src]="ImgPath + 'Icon_Plus_White.svg'" alt="Icon_Plus_White.svg"
                  (load)="thumnailLoaded(i)" />
              </button>
              <div class="checkbox checkbox-black" *ngIf="modelIdsToAdd.length > 0">
                <input id="add-col-{{img.model_id}}" name="addCol" type="checkbox" [(ngModel)]="allToCollId[img.model_id]"
                  (change)="updateModelForCollection(img.model_id)" value="1" />
                <label for="add-col-{{img.model_id}}"></label>
              </div>
            </div>
            <div class="block-overlay" (click)="updateModelForCollection(img.model_id)" value="1"></div>
          </div>

          <div class="detailview">
            <div class="single-img-warp flexbox-container">
              <a href="#detailClose" class="detailClose remove mobile-view-btn hidden-md hidden-lg visible-sm visible-xs">
                <img [src]="ImgPath + 'Icon_Basic_Close.svg'" width="20" alt="Icon_Basic_Close.svg" />
              </a>

              <!-- image section -->
              <div class="left-section" [ngClass]="{ 'left-section-cursor': threeDImgLoading === false }">
                <a href="javascript:;" class="move-arrow left detailPrev" *ngIf="i != 0">
                  <img [src]="ImgPath + 'Icon_Basic_Left.svg'" width="25" class="" alt="Icon_Basic_Left.svg" />
                </a>
                <div class="single-image">
                  <div class="image-wrapper" [ngClass]="{
                      'trans-back':
                        !img.background_color && img.is_transparent == 1
                    }">
                    <div id="copyable-image-{{i}}" *ngIf="img.thumbnail_main" [hidden]="!isPreviewLoaded[i]">
                      <img class="xzoom" id="xzoom-{{i}}" [src]="img.thumbnail_main" [attr.xoriginal]="img.model_preview_zoom"
                        [ngStyle]="{
                          width:
                            img.isPurchased || img.preview_width < 250
                              ? img.preview_width + 'px'
                              : img.preview_width - 100 + 'px',
                          'max-width': img.isPurchased ? showFilterToggle ? '800px' : '1000px' : showFilterToggle ? '750px' : '900px'
                        }"
                        [alt]="img.model_name" (load)="previewLoaded(i)" />
                    </div>

                    <!-- 3d image view -->
                    <div id="remove-ele-{{i}}" [ngStyle]="{
                      width:
                        img.isPurchased || img.preview_width < 250
                          ? img.preview_width + 'px'
                          : img.preview_width - 100 + 'px',
                      'max-width': img.isPurchased ? '1000px' : '900px'
                    }"
                      [hidden]="threeDImgLoading">
                    </div>
                    <!-- 3d image view -->

                    <div [hidden]="!threeDImgLoading">
                      <loader-infinite></loader-infinite>
                    </div>
                    <div class="image-addons-block" *ngIf="img.thumbnail_main">
                      <div class="search-icon icon" *ngIf="planFacilities.imgZoom; else: disabledZoom" (click)="zoomImage('xzoom-' + i, $event)">
                        <img [src]="ImgPath + 'ImageFunction_Zoom_Gray.svg'" width="18" class="main-icon" alt="ImageFunction_Zoom_Gray.svg" />
                        <img [src]="
                            ImgPath + 'ImageFunction_Zoom_Gray_White.svg'
                          "
                          width="18" class="hover-icon" alt="ImageFunction_Zoom_Gray_White.svg" />
                        <span class="custom-tooltip tooltip-arrow-top" *ngIf="planfacilitiesToolTip.imgZoom"
                          [innerHTML]="planfacilitiesToolTip.imgZoom"></span>
                        <span class="custom-tooltip tooltip-arrow-top" *ngIf="!planfacilitiesToolTip.imgZoom">Zoom
                          mage
                          <font class="disabled-text">(Subscription Required)</font></span>
                      </div>
                      <ng-template #disabledZoom>
                        <div class="search-icon icon disabled">
                          <img [src]="ImgPath + 'ImageFunction_Zoom_Gray.svg'" width="18" class="main-icon" alt="ImageFunction_Zoom_Gray.svg" />
                          <img [src]="
                              ImgPath + 'ImageFunction_Zoom_Gray_White.svg'
                            "
                            width="18" class="hover-icon" alt="ImageFunction_Zoom_Gray_White.svg" />
                          <span class="custom-tooltip tooltip-arrow-top" *ngIf="planfacilitiesToolTip.imgZoom"
                            [innerHTML]="planfacilitiesToolTip.imgZoom"></span>
                          <span class="custom-tooltip tooltip-arrow-top" *ngIf="!planfacilitiesToolTip.imgZoom">Zoom
                            Image
                            <font class="disabled-text">(Subscription Required)</font></span>
                        </div>
                      </ng-template>
                      <div class="download-icon icon" *ngIf="planFacilities.freePreviewDownload; else: disabledDownload"
                        (click)="downloadPreview(i); removeZoom('xzoom-' + i)">
                        <img [src]="ImgPath + 'ImageFunction_FreeDownload_Gray.svg'" width="18" class="main-icon" alt="ImageFunction_FreeDownload_Gray.svg" />
                        <img [src]="ImgPath + 'ImageFunction_FreeDownload_Gray_White.svg'" width="18" class="hover-icon"
                          alt="ImageFunction_FreeDownload_Gray_White.svg" />
                        <span class="custom-tooltip tooltip-arrow-top" *ngIf="planfacilitiesToolTip.freePreviewDownload"
                          [innerHTML]="planfacilitiesToolTip.freePreviewDownload"></span>
                        <span class="custom-tooltip tooltip-arrow-top" *ngIf="!planfacilitiesToolTip.freePreviewDownload">Download
                          Free Preview <font class="disabled-text">(Subscription Required)</font></span>
                      </div>
                      <ng-template #disabledDownload>
                        <div class="copy-icon icon disabled">
                          <img [src]="ImgPath + 'ImageFunction_FreeDownload_Gray.svg'" width="18" class="main-icon" alt="ImageFunction_FreeDownload_Gray.svg" />
                          <img [src]="ImgPath + 'ImageFunction_FreeDownload_Gray_White.svg'" width="18" class="hover-icon"
                            alt="ImageFunction_FreeDownload_Gray_White.svg" />
                          <span class="custom-tooltip tooltip-arrow-top" *ngIf="planfacilitiesToolTip.freePreviewDownload"
                            [innerHTML]="planfacilitiesToolTip.freePreviewDownload"></span>
                          <span class="custom-tooltip tooltip-arrow-top" *ngIf="!planfacilitiesToolTip.freePreviewDownload">Download
                            Free Preview
                            <font class="disabled-text">(Subscription Required)</font></span>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                  <!-- <a href="javascript:;" class="move-arrow right detailNext" *ngIf="i<modelList.length-1">
                    <img [src]="ImgPath+'Icon_Basic_Right.svg'" class="" width="25" alt="Icon_Basic_Right.svg">
                  </a> -->
                </div>
                <a href="javascript:;" class="move-arrow right detailNext" *ngIf="i < modelList.length - 1">
                  <img [src]="ImgPath + 'Icon_Basic_Right.svg'" class="" width="25" alt="Icon_Basic_Right.svg" />
                </a>

                <!-- <div class="rotate-icon-block" [hidden]="threeDImgLoading">
                  <img [src]="ImgPath + 'Rotate_Icon.png'" class="" width="60" alt="Rotate_Icon.png" />
                </div> -->
              </div>
              <!-- image section -->

              <!-- detail text section -->
              <div class="right-section">
                <div class="single-image-detail">
                  <a href="#detailClose" class="detailClose remove hidden-sm hidden-xs">
                    <img [src]="ImgPath + 'Icon_Basic_Close.svg'" width="20" alt="Icon_Basic_Close.svg" />
                  </a>
                  <div class="header">
                    <h3 class="no-margin">{{ img.model_name }}</h3>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="content">
                        <li *ngIf="img.polygons">
                          <span class="icon ss">
                            <img [src]="ImgPath + 'Icons_Details_Polygons_Gray.svg'" class="" width="20" alt="Icon_Details_MinRes.svg" />
                          </span>
                          <div class="title"><b class="bold">Polygons</b></div>
                          <div class="value nowarp">{{ img.polygons }}</div>
                        </li>
                        <li *ngIf="img.size">
                          <span class="icon">
                            <img [src]="ImgPath + 'Icon_Details_FileSize.svg'" class="" width="20" alt="Icon_Details_FileSize.svg" />
                          </span>
                          <div class="title">
                            <b class="bold">File Size</b>
                          </div>
                          <div class="value nowarp">{{ img.size }}</div>
                        </li>
                        <li *ngIf="img.format">
                          <span class="icon">
                            <img [src]="ImgPath + 'Icon_Details_Format.svg'" class="" width="15" alt="Icon_Details_Format.svg" />
                          </span>
                          <div class="title"><b class="bold">Format</b></div>
                          <div class="value nowarp text-uppercase">
                            {{ img.sformat }}
                          </div>
                        </li>
                        <li *ngIf="img.geometry">
                          <span class="icon">
                            <img [src]="ImgPath + 'Icons_Details_Geometry_Gray.svg'" class="" width="20" alt="Icons_Details_Geometry_Gray.svg" />
                          </span>
                          <div class="title"><b class="bold">Geometry</b></div>
                          <div class="value nowarp text-capitalize">
                            {{ img.geometry }}
                          </div>
                        </li>
                        <li *ngIf="img.uv_mapped">
                          <span class="icon">
                            <img [src]="ImgPath + 'Icons_Details_UV_Mapped_Gray.svg'" class="" width="20" alt="Icons_Details_UV_Mapped_Gray.svg" />
                          </span>
                          <div class="title">
                            <b class="bold">UV Mapped</b>
                          </div>
                          <div class="value nowarp">
                            {{ img.uv_mapped == '0' ? 'No' : 'Yes' }}
                          </div>
                        </li>
                        <li *ngIf="img.texture_maps">
                          <span class="icon">
                            <img [src]="ImgPath + 'Icons_Details_Textures_Gray.svg'" class="" width="20" alt="Icons_Details_Textures_Gray.svg" />
                          </span>
                          <div class="title">
                            <b class="bold">Texture Maps</b>
                          </div>
                          <div class="value nowarp">
                            {{ img.texture_maps }}
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="">
                    <div class="credit-count text-center" *ngIf="!img.isPurchased">
                      <div class="credit-count-inner">
                        <font class="count">{{ img.price_credits }}</font>
                        Credits
                        <span class="custom-tooltip tooltip-arrow-top">Equals about
                          <b><span class="doller-icon">$</span>{{ img.price }}</b>
                        </span>
                      </div>
                    </div>
                    <div class="credit-count text-center" *ngIf="img.isPurchased">
                      <font class="purchased">Purchased</font>
                    </div>
                    <div class="">
                      <div class="download-block">
                        <div class="download-block-addon hover-tooltip modal-dropdown-addon" *ngIf="isUserLoggedIn">
                          <button class="CopyClipboard" type="button" [disabled]="downloadingImage || img.isPurchased"
                            (click)="onlyPurchaseThisModel(img, undefined, true)">
                            <img class="front-img" [src]="ImgPath + 'Icon_Wallet_Download_Img.svg'" width="18" alt="Icon_Wallet_Download_Img.svg" />
                            <img class="hover-img" [src]="
                                  ImgPath + 'Icon_Wallet_Download_Img_Blue.svg'
                                "
                              width="18" alt="Icon_Wallet_Download_Img_Blue.svg" />
                          </button>
                          <span class="info-tooltip">
                            <span class="custom-tooltip tooltip-arrow-top">
                              Purchase without Downloading
                            </span>
                          </span>
                        </div>
                        <button class="btn btn-download dropdown-toggle modal-dropdown-addon" *ngIf="isUserLoggedIn; else: notLoggedIn"
                          [disabled]="downloadingImage || !img.available_types || !img.available_types.length"
                          data-toggle="dropdown">
                          <span class="">
                            <span *ngIf="!downloadingImage" class="download-text-img">
                              <img class="front-img" [src]="ImgPath+'Icon_Download.svg'" width="18" alt="Icon_Download.svg">
                              <img class="hover-img" [src]="ImgPath+'Icon_Download_Blue.svg'" width="18" alt="Icon_Download_Blue.svg">
                              Download
                            </span>
                            <span *ngIf="downloadingImage" class="download-text-img">
                              Downloading Model...
                            </span>
                          </span>
                        </button>

                        <ul class="dropdown-menu dropdown-reset dropdown-unique-arrow download-model-dropdown" *ngIf="img.available_types && img.available_types.length > 0">
                          <li *ngFor="let type of img.available_types" (click)="downloadThisModel(i, type.ext)">
                            <div class="info-tooltip">
                              <img [src]="ImgPath+'Icon_Info.svg'" class="" width="14" alt="Icon_Info.svg">
                              <span class="custom-tooltip tooltip-arrow-top">{{ type.ext }}</span>
                            </div>
                            <a href="javascript:;">
                              <div class="subs-paln">
                                <span class="bold">{{type.ext }}</span>
                                <span class="text-regular">{{type.size}}</span>
                              </div>
                            </a>
                          </li>
                        </ul>
                        <ng-template #notLoggedIn>
                          <button class="btn btn-download" data-target="#login-modal" data-toggle="modal">
                            <span class="">Download</span>
                          </button>
                        </ng-template>
                        <!-- model resize dropdown -->
                      </div>
                    </div>
                    <p class="appearance-info" *ngIf="img.kit_name">
                      This model appears in
                      <a [routerLink]="['/kits']" [queryParams]="{
                              search: encodeToURL(img.kit_search_name)
                            }">
                        <b>
                          <font class="text-uppercase" [innerHTML]="img.kit_name"></font>
                        </b>
                      </a>
                    </p>
                  </div>
                </div>
              </div>
              <!-- detail text section -->

            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </ng-container>
      <!-- End of thumbnail display -->
      <!--
          <div class="infinite-loader" infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="50" (scrolled)="loadMoreData()"></div>
        -->
    </div>

    <div id="pics"></div>
    <div *ngIf="isLoading">
      <loader></loader>
    </div>
    <!--       <div *ngIf="!isLoaded">
          <div>
            <loader></loader>
          </div>
        </div> -->
    <!-- End of thumbnail display -->
  </div>

  <div [hidden]="modelList.length > 0 || !isLoaded" class="loader-warp">
    <no-data></no-data>
  </div>
</div>
<!-- </ng-container> -->

<div aria-labelledby="myModalLabel" class="modal fade" id="collection-add" role="dialog" tabindex="-1">
  <div class="modal-dialog account-modal comman-modal" role="document">
    <div class="modal-content">
      <div class="modal-header comman-header-modal">
        <button aria-label="Close" class="close btn-close-modal" data-dismiss="modal" type="button">
          <span aria-hidden="true">
            <img [src]="ImgPath + 'Icon_Basic_Close.svg'" width="18" alt="Icon_Basic_Close.svg" />
          </span>
        </button>
        <h2 class="modal-title">
          <img class="checkout-lock-icon" [src]="ImgPath + 'Icon_NewCollection.svg'" width="20" alt="Icon_NewCollection.svg" />
          New Collection
        </h2>
      </div>
      <div class="modal-body">
        <form name="AddForm" #AddForm="ngForm" (submit)="addnameCol(newColName, 1, AddForm)">
          <div class="alert alert-success" *ngIf="isAddSuccess && AddSuccess">
            {{ AddSuccess }}
          </div>
          <div class="alert alert-danger" *ngIf="isAddError && AddError">
            {{ AddError }}
          </div>
          <div class="form-group comman-form-group">
            <input autocomplete="off" class="form-control input-block" id="newColName" name="newColName" placeholder="Name Your Collection..."
              type="text" [(ngModel)]="newColName" #addCollection="ngModel" maxlength="50" />
            <div *ngIf="
                addCollection.invalid &&
                (addCollection.dirty || addCollection.touched)
              ">
              <p class="text-danger" *ngIf="addCollection.errors.required">
                Please enter a name
              </p>
              <p class="text-danger" *ngIf="isAddError && Errors.addname">
                {{ Errors.addname }}
              </p>
            </div>
          </div>
          <div class="divider-section"></div>
          <button class="btn btn-default btn-block login-btn" name="Submit" type="submit" value="add" [disabled]="addBtnDis || AddForm.invalid">
            <b class="bold">Create</b>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- <ng-container *ngIf="isLoading">
  <loader-infinite></loader-infinite>
</ng-container> -->

<a [href]="downloadUrl" class="downloadImg" [download]="downloadImageName" [hidden]="true">
  <img [src]="downloadUrl" [alt]="downloadUrl">
</a>
