<app-header (isLoggedIn)="checkLogin($event)" (cartPurchased)="cartPurchased($event)"></app-header>
<!--  -->
<div class="kits-component-warp">
  <ng-container>
    <div
      class="toggle-button left-filter hover-tooltip"
      (click)="toggleSidebar()"
      [ngClass]="{ 'toggle-on': showFilterToggle }"
    >
      <img [src]="gridFilter.ImgPath + 'Icon_Basic_S_Right.svg'" width="20" class="main-img" />
      <img
        [src]="gridFilter.ImgPath + 'Icon_Basic_S_Right_Blue.svg'"
        width="20"
        class="hover-img"
      />
      <span _ngcontent-c1="" class="info-tooltip">
        <span _ngcontent-c1="" class="custom-tooltip custom-tooltip-left tooltip-arrow-left">
          <ng-container *ngIf="showFilterToggle">
            Switch to Default
          </ng-container>
          <ng-container *ngIf="!showFilterToggle">
            Switch to Sidebar
          </ng-container>
        </span>
      </span>
    </div>
    <!--  -->
    <ng-container *ngIf="showFilterToggle">
      <app-aside-filter
        [filters]="{ categories: gridFilter.categories }"
        (catFilterAdded)="onCatFilterAdd($event)"
        [totalItems]="gridFilter.totalItems"
        [selectedSort]="gridFilter.sortyBy"
        (updateSortOption)="gridFilter.sortKits($event)"
      ></app-aside-filter>
    </ng-container>
  </ng-container>
  <!--  -->
  <div [ngClass]="{ 'image-container-wrapper-rightside': showFilterToggle }">
    <app-kits-grid-filter
      (onSearch)="updateFilter($event)"
      (onClearAllFilter)="clearAllFilter()"
    ></app-kits-grid-filter>
    <div class="package-gallery gray-background">
      <app-kits-grid [kitList]="kits" [isLoading]="isLoading"></app-kits-grid>
    </div>
  </div>
  <app-footer [ngClass]="{ 'footer-rightside': showFilterToggle }"></app-footer>
</div>

<!-- Mobile View Warper -->
<div class="image-component-mobile nofound-warp gray-background">
  <div class="nofound-image nofound-single-block">
    <div class="nofound-content text-light text-center">
      <p>This features is not available on mobile version.</p>
      <p>Please visit our desktop version.</p>
    </div>
  </div>
</div>
