<app-header (isLoggedIn)="checkLogin($event)"></app-header>

<div class="gray-background">
  <div class="theme-container">
    <div class="container">    
      <div class="height-balance">
       <div class="col-md-5 col-sm-8 col-xs-12 center-block">
        <div class="forgot-password-tile">
        <h2 class="text-center heading">Reset Your Password</h2>
        <form name="Forget_Form" #forget="ngForm" (submit)="updatePassword(forget)" novalidate>
          <div class="alert alert-danger" *ngIf="isError && errorClass">{{message}}</div>
          <div class="alert alert-success" *ngIf="isError && !errorClass">Your password updated successfully, you 'll redirect to home page whithin {{timeLeft}} seconds.</div>
          <div class="form-group">
            <input autocomplete="off" class="form-control input-block" id="emailForegetf" name="newPassword" placeholder="New Password" type="password" required minlength="6" [(ngModel)]="password" #newPassword="ngModel"/>
            <!-- <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
              <p class="text-danger" *ngIf="newPassword.errors.required">Please enter new password</p>
              <p class="text-danger" *ngIf="newPassword.errors.minlength">Password must be at least 6 character long</p>
            </div> -->
            <p *ngIf="changePasswordError['password']" class="text-danger">{{changePasswordError['password']}}</p>
          </div>
          <div class="form-group">
            <input autocomplete="off" class="form-control input-block" id="emailForegetdaf" name="cpassword" placeholder="Confirm New Password" type="password" required minlength="6" [(ngModel)]="cpassword" #cNewPassword="ngModel" />
            <!-- <div *ngIf="cNewPassword.invalid && (cNewPassword.dirty || cNewPassword.touched)">
              <p class="text-danger" *ngIf="cNewPassword.errors.required">Please enter new password</p>
              <p class="text-danger" *ngIf="cNewPassword.errors.minlength">Password must be at least 6 character long</p>
            </div> -->
            <p *ngIf="changePasswordError['c_password']" class="text-danger">{{changePasswordError['c_password']}}</p>
          </div>
          <button class="btn btn-default btn-block login-btn" name="waiting" type="button" value="waiting" disabled="disabled" *ngIf="settingPassword; else setPassword">
            <b class="bold">Updating Password...</b>
          </button>
          <ng-template #setPassword>
            <button class="btn btn-default btn-block login-btn" name="Submit" type="submit" value="Login">
              <b class="bold">Reset Password</b>
            </button>
          </ng-template>
        </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
